/* css styles */

@font-face {
  font-family: 'Carlo';
  src: url('fonts/Carlo.otf') format('opentype'),
       url('fonts/Carlo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header {
  font-family: 'Carlo', sans-serif;
}

header nav a {
  font-family: 'Carlo', sans-serif;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Carlo', sans-serif;
}

/* Ajusta o tamanho da fonte para os itens de navegação (se necessário) */
header nav a {
  font-size: 22px; /* Tamanho da fonte para os links de navegação */
}


html {
  scroll-behavior: smooth;
}

/* Seção Softwares */
#softwares-section {
  background-color: #f0f8ff; /* Cor de fundo azul clara */
  height: 800px; /* Altura definida */
  padding: 20px; /* Espaçamento interno */
}

/* Seção Skill Sets */
#skillsets-section {
  background-color: #faebd7; /* Cor de fundo bege */
  height: 600px; /* Altura menor */
  padding: 20px;
}

/* Seção Work */
#work-section {
  background-color: #e6e6fa; /* Cor de fundo lavanda */
  height: 700px; /* Altura média */
  padding: 20px;
}